.wrapper {
	width: 97%;
	margin: 0 auto;
	@media #{$mobile} {
		width: 100%;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

//////////////////

header {
	background: url('../images/mainbg.jpg');
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	// flex-direction: column;
	min-height: 100vh;
	.headerContainer {
		display: flex;
		@media #{$mobile} {
			flex-direction: column;
			// width: 100%;
		}
		flex-wrap:wrap;
		margin: auto;
		max-width: 100%;
		width: 90%;
		padding: 40px 0;
		h3 {
			text-transform: uppercase;
			letter-spacing: 3px;
			color: #fff;
			background-color: rgba(0,0,0,0.5);
			padding: 5px;
			margin: 5px 10% 20px;
		}
	}
	img {
		width: 70px;
		height: 70px;
		margin-left: 20px;
		margin-right: 20px;
		// margin: 50px;
		cursor: pointer;
	}
	span.go {
		text-transform: uppercase;
		color: $red;
	}
}

.appInfo, .selections {
	flex: 1 0 50%;
	@media #{$mobile} {
	flex: 1 0 auto;
	}
}

.appInfo {
	.description {
		background-color: rgba(0,0,0,0.7);
		color: #fff;
		font-family: 'Lato';
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 20px;
		padding: 25px;
		margin: 25px 25px 25px 0;
		@media #{$mobile} {
			margin: 25px 0px;
			font-size: 13px;
		}
	}
}

.noise, .distance, .spotifyPlaylists {
	margin-bottom: 25px;
	.noiseLevel, .distanceType, .musicType {
		background:rgba(255,255,255,0.5);
		border-radius: 3px;
		cursor: pointer;
		padding-bottom: 1px;
		&:hover {
			background:rgba(255,255,255,0.7);
		}
		h4 {
			margin: 5px;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
}

.spotifyPlaylists {
	h4 {
		padding: 5px 5px 0 5px;
		// margin: 0;
	}
}

.distance {
	margin-bottom: 25px;
}

.selected {
	border: 2px solid $red;
}

.search {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

//////////////////

input[type=radio]{
	display: none;
} 

input[type=submit]{
	font-family: $lato;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 15px;
	border-radius: 3px;
	border: none;
	background: $red;
	color: $white;
	transition: all 0.5s;
	&:hover {
		// border: 1px solid $red;
		background: $white;
		color: $red;
	}
}

