$red: #FF3D2E;
$blue: #9DBDC6;
$lightBlue: #DAEAEF;
$white: #FFFFFF;
$dark: #272F32;

$lato: 'Lato', sans-serif;
$lora: 'Lora', serif;

$mobile: "(max-width: 480px)";
$mobile-landscape: "(max-height: 450px)";
$tablet: "(max-width: 768px)";
$small-desktop: "(max-width: 940px)";

@media #{$mobile} {

}

@media #{$mobile-landscape} {

}
